.header-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo-img {
    width: 150px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 5px; /* Adjust the margin as needed */

  }
  
  .nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-links ul li:last-child {
    margin-right: 0;
  }
  
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links ul li a:hover {
    color: #00f; /* Change color on hover */
  }
  

  .account-info {
    margin-top: 10px; /* Adjust margin as needed */
  }
  
  .connected-account {
    font-weight: bold;
    color: #333; /* Adjust color as needed */
  }
  